@using System.Diagnostics

@inject SharedService SharedService

@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
		@* this turns into a collapsable hamburger menu on phone screen sizes *@
		<a class="float-md-start mb-0 text-light text-decoration-none" href="/">
			<span class="fs-4 brand">Starchives</span>
		</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Caption Search
			</NavLink>
		</div>

		<!-- TODO -->
		@* <div class="nav-item px-3">
            <NavLink class="nav-link" href="monthly-reports">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Monthly Reports
            </NavLink>
        </div> *@

		<!-- TODO -->
		@* <div class="nav-item px-3">
            <NavLink class="nav-link" href="design-docs">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Design Docs
            </NavLink>
        </div> *@

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="about">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About
			</NavLink>
		</div>

		@* test routes *@
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="weather">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
			</NavLink>
		</div>
		
		@* this should be disabled in production *@
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="admin">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
			</NavLink>
		</div>
	</nav>

</div>

@code {

}
