@page "/admin"
@layout MainLayout
@rendermode InteractiveServer

@inject NavigationManager Navigation
@inject Microsoft.Extensions.Options.IOptions<Keys> Options
@inject Data.StarchivesContext DbContext

@using Google.Apis.Services
@using Google.Apis.YouTube.v3
@using Starchives.Components.Layout
@using Starchives.Models
@using System.Diagnostics

<h2>Database Administration</h2>

@if (!_isAuthenticated)
{
	<div id="login-panel" class="p-4 mb-4 text-white bg-dark rounded-3">

		<h3>Admin Login</h3>

		<EditForm class="d-flex flex-row justify-content-center" FormName="adminLoginForm" Model="_loginModel" OnValidSubmit="HandleLogin">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="form-group">

				@if (!string.IsNullOrEmpty(_errorMessage))
				{
					<div class="alert alert-danger mx-auto">@_errorMessage</div>
				}

				<InputText id="password" class="form-control p-1 mb-3 col-3" type="password" @bind-Value="@_loginModel.Password" />

				<button id="login-button" class="btn btn-light btn-sm w-100" type="submit">
					<h5 id="login-button-label" class="heading-md">Login</h5>
				</button>

			</div>


		</EditForm>

	</div>
}
else
{
	<div id="logs-panel" class="p-4 mb-4 text-white bg-dark rounded-3">
		<h3>Console Logs</h3>
		<p>TODO</p>
	</div>

	<div class="d-flex flex-row p-0 mb-0 justify-content-between align-items-stretch">
		<div id="videos-panel" class="p-4 col-3 text-white bg-dark rounded-3">
			<h3>Videos</h3>
			<p>TODO</p>
			@* button for updating videos *@
		</div>

		<div id="captions-panel" class="p-4 col-3 text-white bg-dark rounded-3">
			<h3>Captions</h3>
			<p>TODO</p>
			@* button for updating captions *@
		</div>

		<div id="docs-panel" class="p-4 col-3 text-white bg-dark rounded-3">
			<h3>Documents</h3>
			<p>TODO</p>
			@* button for updating monthly reports and design docs *@
		</div>
	</div>
}




@code {

	private bool _isAuthenticated = false;
	private LoginModel _loginModel = new();
	private string? _errorMessage;



	protected override void OnInitialized()
	{
		var adminPassword = Options.Value.AdminPassword;

		if (string.IsNullOrEmpty(adminPassword))
		{
			_errorMessage = "Admin password is not set.";
			return;
		}

		if (_isAuthenticated)
		{
			//await UpdateDb();
		}
	}



	/// <summary>
	/// Handles the login form submission for the admin console.
	/// </summary>
	private void HandleLogin()
	{
		Debug.Print($"Password Entered: {_loginModel.Password}");

		if (_loginModel.Password == Options.Value.AdminPassword)
		{
			_isAuthenticated = true;
			_errorMessage = string.Empty;
		}
		else
		{
			_errorMessage = "Invalid password.";
		}
	}



	/// <summary>
	/// Retrieves all videos from the Star Citizen YouTube channel, then updates existing videos and inserts new videos into the Starchives database.
	/// </summary>
	/// <returns></returns>
	protected async Task UpdateVideos()
	{
		var youtubeService = new YouTubeService(new BaseClientService.Initializer()
			{
				ApiKey = Options.Value.YouTubeApiKey, // Replace with your YouTube Data API key
				ApplicationName = this.GetType().ToString()
			});

		var searchRequest = youtubeService.Search.List("snippet");
		searchRequest.Q = "Your search query"; // Replace with your search query
		searchRequest.MaxResults = 10;

		var searchResponse = await searchRequest.ExecuteAsync();

		foreach (var searchResult in searchResponse.Items)
		{
			// Assuming you have a Videos model and a Videos DbSet in your ApplicationDbContext
			var video = new Video
				{
					Title = searchResult.Snippet.Title,
					Description = searchResult.Snippet.Description,
					VideoId = searchResult.Id.VideoId
				};

			DbContext.Videos.Add(video);
		}

		await DbContext.SaveChangesAsync();
	}



	/// <summary>
	/// Retrieves captions for all videos in the Starchives database that have captions available but not yet stored.
	/// </summary>
	/// <returns></returns>
	protected async Task UpdateCaptions()
	{
		// TODO: Implement captions update

		await DbContext.SaveChangesAsync();
	}



	/// <summary>
	/// Retrieves all monthly reports and design docs from the RSI website, then updates existing documents and inserts new documents into the Starchives database.
	/// </summary>
	/// <returns></returns>
	protected async Task UpdateDocuments()
	{
		// TODO: Implement monthly report update
		// TODO: Implement design docs update

		await DbContext.SaveChangesAsync();
	}



	public class LoginModel
	{
		public string Password { get; set; }
	}
}
